{#- The business's layers, after the cached platform part of the system prompt. -#}
<business_baseline>
{{ baseline }}
</business_baseline>

<persona>
{{ persona }}
</persona>

<case_type_instructions>
{{ category_instructions }}
</case_type_instructions>
